<div id="body" style="background-image: url(./../../../assets/gradient_1.jpg); background-size: cover;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container" >
        <div class="row">
            <div class="col-md-4 p-3">
                <app-form-login></app-form-login>
            </div>
            <div class="col-md-4 p-3">
                <app-form-signup></app-form-signup>
            </div>
            <div class="col-md-4 p-3">
                <app-chat></app-chat>
            </div>
        </div>
    </div>
</div>